<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Obernews</title>
    <link rel="stylesheet" href="00.css.css" />
  </head>

  <body>
    VOTE!
    <form action="/" method="POST">
      <input type="radio" value="Ronald Mumph" name="candidate" /> Ronald Mumph <br>
      <input type="radio" value="Ronald Mumph" name="candidate" /> Ronald Mumph <br>
      <input type="submit" value="vote!" />
    </form>

  </body>
</html>
